<div class="navbar">
  <img
    alt="Smart Mover Medical Tourism Logo"
    height="50"
    src="/assets/logo.png"
    width="150"
  />
  <div>
    <nav>
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/content" routerLinkActive="active">Content</a>
      <a routerLink="/doctors" routerLinkActive="active">Doctors</a>
      <a routerLink="/hospitals" routerLinkActive="active">Hospitals</a>
      <a routerLink="/treatments" routerLinkActive="active">Treatments</a>
    </nav>
    
    <button class="cta" (click)="chatWithExpert()">Chat with a health expert now</button>
  </div> 
</div>
