<section>
  <div class="search-bar">
    <input placeholder="Search treatments..." type="text" />
    <button>Search</button>
  </div>
</section>
<div class="main-content">
  <h1>Find <span>Treatments?</span></h1>
  
  <div class="filters">
      <button class="tab" onclick="scrollToSection('medical')">Medical</button>
      <button class="tab" onclick="scrollToSection('aesthetic')">Aesthetic</button>
      <button class="tab" onclick="scrollToSection('wellness')">Wellness</button>
    
  </div>
  <div class="main-content">
    <h1>Medical <span>Treatments</span></h1>
    
    <div class="cards">
      <div class="card">
        <img
          alt="Bariatric Surgery"
          height="100"
          src="https://storage.googleapis.com/a1aa/image/zRIf3zjxVOQAWK552psT5Nhud0xBXDM32TUCesmgeUiAKSQnA.jpg"
          width="100"
        />
        <div class="card-title">Bariatric Surgery</div>
        <div class="card-text">
          90% Rated Value for Money
          <br />
          Packages Starting from $1500
        </div>
      </div>
      <div class="card">
        <img
          alt="Cardiac Sciences"
          height="100"
          src="https://storage.googleapis.com/a1aa/image/s7GpcWvnl9ZABd1SRe3qyvipLtjrcAODyG1gDXHo0HcjiE0JA.jpg"
          width="100"
        />
        <div class="card-title">Cardiac Sciences</div>
        <div class="card-text">
          92% Rated Value for Money
          <br />
          Packages Starting from $500
        </div>
      </div>
      <div class="card">
        <img
          alt="ENT"
          height="100"
          src="https://storage.googleapis.com/a1aa/image/Bfbti6pMMtzafU3rVZERdwq1heGspn1P8FEVSbd7Hs1KKSQnA.jpg"
          width="100"
        />
        <div class="card-title">ENT</div>
        <div class="card-text">
          92% Rated Value for Money
          <br />
          Packages Starting from $16,000
        </div>
      </div>
      <div class="card">
        <img
          alt="General &amp; Laparoscopic"
          height="100"
          src="https://storage.googleapis.com/a1aa/image/rYQrIijQwQYhNpOJfphWJnQ8D1KYgkwZcFUy76rKRz5hiE0JA.jpg"
          width="100"
        />
        <div class="card-title">General &amp; Laparoscopic</div>
        <div class="card-text">
          90% Rated Value for Money
          <br />
          Packages Starting from $1800
        </div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <h1>Aesthetic <span>Treatments</span></h1>
    
    <div class="cards">
      <div class="card">
        <img
          alt="Bariatric Surgery"
          height="100"
          src="https://storage.googleapis.com/a1aa/image/zRIf3zjxVOQAWK552psT5Nhud0xBXDM32TUCesmgeUiAKSQnA.jpg"
          width="100"
        />
        <div class="card-title">Bariatric Surgery</div>
        <div class="card-text">
          90% Rated Value for Money
          <br />
          Packages Starting from $1500
        </div>
      </div>
      <div class="card">
        <img
          alt="Cardiac Sciences"
          height="100"
          src="https://storage.googleapis.com/a1aa/image/s7GpcWvnl9ZABd1SRe3qyvipLtjrcAODyG1gDXHo0HcjiE0JA.jpg"
          width="100"
        />
        <div class="card-title">Cardiac Sciences</div>
        <div class="card-text">
          92% Rated Value for Money
          <br />
          Packages Starting from $500
        </div>
      </div>
      <div class="card">
        <img
          alt="ENT"
          height="100"
          src="https://storage.googleapis.com/a1aa/image/Bfbti6pMMtzafU3rVZERdwq1heGspn1P8FEVSbd7Hs1KKSQnA.jpg"
          width="100"
        />
        <div class="card-title">ENT</div>
        <div class="card-text">
          92% Rated Value for Money
          <br />
          Packages Starting from $16,000
        </div>
      </div>
      <div class="card">
        <img
          alt="General &amp; Laparoscopic"
          height="100"
          src="https://storage.googleapis.com/a1aa/image/rYQrIijQwQYhNpOJfphWJnQ8D1KYgkwZcFUy76rKRz5hiE0JA.jpg"
          width="100"
        />
        <div class="card-title">General &amp; Laparoscopic</div>
        <div class="card-text">
          90% Rated Value for Money
          <br />
          Packages Starting from $1800
        </div>
      </div>
    </div>
  </div>

  <div class="main-content">
    <h1>Wellness <span>Treatments</span></h1>
    
    <div class="cards">
      <div class="card">
        <img
          alt="Bariatric Surgery"
          height="100"
          src="https://storage.googleapis.com/a1aa/image/zRIf3zjxVOQAWK552psT5Nhud0xBXDM32TUCesmgeUiAKSQnA.jpg"
          width="100"
        />
        <div class="card-title">Bariatric Surgery</div>
        <div class="card-text">
          90% Rated Value for Money
          <br />
          Packages Starting from $1500
        </div>
      </div>
      <div class="card">
        <img
          alt="Cardiac Sciences"
          height="100"
          src="https://storage.googleapis.com/a1aa/image/s7GpcWvnl9ZABd1SRe3qyvipLtjrcAODyG1gDXHo0HcjiE0JA.jpg"
          width="100"
        />
        <div class="card-title">Cardiac Sciences</div>
        <div class="card-text">
          92% Rated Value for Money
          <br />
          Packages Starting from $500
        </div>
      </div>
      <div class="card">
        <img
          alt="ENT"
          height="100"
          src="https://storage.googleapis.com/a1aa/image/Bfbti6pMMtzafU3rVZERdwq1heGspn1P8FEVSbd7Hs1KKSQnA.jpg"
          width="100"
        />
        <div class="card-title">ENT</div>
        <div class="card-text">
          92% Rated Value for Money
          <br />
          Packages Starting from $16,000
        </div>
      </div>
      <div class="card">
        <img
          alt="General &amp; Laparoscopic"
          height="100"
          src="https://storage.googleapis.com/a1aa/image/rYQrIijQwQYhNpOJfphWJnQ8D1KYgkwZcFUy76rKRz5hiE0JA.jpg"
          width="100"
        />
        <div class="card-title">General &amp; Laparoscopic</div>
        <div class="card-text">
          90% Rated Value for Money
          <br />
          Packages Starting from $1800
        </div>
      </div>
    </div>
  </div>
</div>
