.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(
    219,
    204,
    204,
    0.082
  ); /* Transparent background */
  padding: 10px;

  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.navbar a {
  text-decoration: none;
  color: #8b0000;
  margin: 0 10px;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}
.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #8b0000;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}
.navbar a:hover {
  color: #000;
}
.navbar a:hover::after {
  width: 100%;
  left: 0;
  background: #e79303;
}
.navbar .cta {
  background-color: rgb(86, 99, 240);
  border: 2px solid #ff711e;
  padding: 5px 5px;
  border-radius: 5px;
  color: #f9f9f9;
  text-decoration: none;
  font-weight: 100px;
  margin-left: 20;
}
.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
  position: relative;
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

.navbar ul li a:hover::after {
  width: 100%;
}

.navbar.transparent {
  background: transparent;
  color: rgb(18, 17, 17);
}

.navbar.scrolled {
  background-color: white;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled ul li a {
  color: black;
}

.navbar.scrolled ul li a::after {
  background-color: black;
}






.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
}
.footer a {
  color: #ff6f61;
  text-decoration: none;
  margin: 0 10px;
}
.footer a:hover {
  text-decoration: underline;
}
